@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  border:0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*fondo negro*/
html, body {
height: 100%;
width: 100%;
background-color: #000000;
}

/*Barra de navegación*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40 px 100 px;
  z-index: 100000 ;
}

header.sticky{
  padding: 10px 200px;
  background: #fff;

}

header.logo {
  position: relative;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li{
  position: relative;
  list-style: none;
  justify-content: center;
  align-items: center;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500 px;
  transition: 0.6s;
  justify-content: center;
  align-items: center;

}

header.sticky.logo{
  color:#000;
}
header.sticky ul li a{
  color:#000;

}




/*Comportamiento secciones*/
div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: big john;
  width: 100%;
  height: 100vh;
}

/*Portada*/
div:nth-child(2) {
  background-color: #000000;
  background-size: cover;
}

/*Portada*/
div:nth-child(3) {
  background-color: #000000; 
  height: 400px ;
  background-size: cover;
}
  

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 40px;
  border: 2px solid #ffc299;
  color: #fff;
  text-decoration: none;
  background: #f8b486;
}

.btn:hover {
  background: none;
  
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}
.title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: #171717;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/*Qué es salud mental*/
div:nth-child(4){
  background-color: #000000;

}

/*Trastornos*/
div:nth-child(5){
  background-color: #000000;
}

/*Causas1*/
div:nth-child(6){
  background-color: #000000;
  background-image:url("fondo_causas1.png");
}

/*Causas2*/
div:nth-child(7){
    background-color: #000000;
  }

/*Recursos de utilidad*/
div:nth-child(8){
  background-color: #000000;
}

/*Trastornos*/
.trastornos{
  max-width: 1200 px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.trastornos.products-container{
display: grid;
grid-template-rows: auto;
grid-template-columns: auto;
}

.trastornos.products-container .product{
  text-align: center;
  padding:3rem 2rem;
  background: rgb(0, 0, 0);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}

.trastornos.products-container .product:hover{
  outline: .2rem solid rgb(253, 253, 253);
  outline-offset: 0;
}

.trastornos.products-container .product img{
  height: 25rem;
}

.trastornos.products-container .product:hover img{
  transform: scale(.9);
}

.trastornos.products-container .product h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:rgb(255, 255, 255);
}

.trastornos.products-container .product:hover h3{
  color:#83C5BE;
}

.trastornos.products-container .product .price{
  font-size: 2rem;
  color:#444;
}

.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: rgb(0, 0, 0);
  position: relative;
  margin:2rem;
  width: 40rem;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview img{
  height: 30rem;
}

.products-preview .preview .fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#83C5BE;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.products-preview .preview h3{
  color:#83C5BE;
  padding:.5rem 0;
  font-size: 2.5rem;
}


.products-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

@media (max-width:991px){

  html{
     font-size: 55%;
  }

}

@media (max-width:768px){

  .products-preview .preview img{
     height: 25rem;
  }

}

@media (max-width:450px){

  html{
     font-size: 50%;
  }

}
.tras{
  display: inline-block;
  background-color: #3f3f3f;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  margin: 25px ;
  padding: 25px 25px;
  cursor: pointer;
   
}
.boton {
  position: absolute;
  top: 255%;
  left: 27%;
  display: block;
  width: 300px;
  font-weight:700;
  font-size: 55px;
  border-radius: 10px;
  margin: 10px 104px;
  padding: 20px 260px;
  background-color: #E29578;
  color: white;
  text-decoration: none;
}
.boton:hover {
  background-color: transparent;
  border: 2px solid #E29578;
  color: #E29578;

}